/* App Global Styles */

@import 'styles/const_dark.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

.app_body {
	background-color: $app-background;
	color: $app-foreground;
}

.app-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}