/* App Global Styles */

@import 'styles/const_dark.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.bubble.css';
@import '../node_modules/quill/dist/quill.snow.css';

@import 'styles/quill_overrides.scss';

.app_body {
	background-color: $app-background;
	color: $app-foreground;

	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.app-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}