/* App Global Styles */

@import 'styles/theme.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.bubble.css';
@import '../node_modules/quill/dist/quill.snow.css';

@import 'styles/quill_overrides.scss';

.app_body {
	background-color: var(--background-one);
	color: var(--foreground-one);

	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.app-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

::-webkit-scrollbar
{
  width: 3px;  /* for vertical scrollbars */
  height: 3px; /* for horizontal scrollbars */
}


::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}