<!-- sidebar icons -->
<div class="sidebar-item" [class.active]="isActiveItem('posts')" (click)="setActiveItem('posts')"><i class="material-icons md-24">folder</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('tags')"><i class="material-icons md-24">local_offer</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('info')"><i class="material-icons md-24">info</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('settings')" style="position:absolute; bottom: 30px;"><i class="material-icons md-24">settings</i></div>