@import '../../../styles/const_dark.scss';
@import '../../../styles/bootstrap-overrides.scss';
@import '../../../styles/material_overrides.scss';
@import '../../../../node_modules/material-design-icons/iconfont/material-icons.css';

.sidebar-item {
	margin: 5px;
	margin-right: 10px;
	font-size: 18px;
	color: $app-second-foreground;
	cursor: pointer;
}

.sidebar-item:hover {
	color: $app-foreground;
}

.sidebar-item.active {
	color: $app-foreground;
}