<!-- sidebar icons -->
<div class="sidebar-item" [class.active]="isActiveItem('posts')"><i class="material-icons md-28">folder</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('tags')"><i class="material-icons md-28">local_offer</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('info')"><i class="material-icons md-28">info</i></div>
<div class="sidebar-item" [class.active]="isActiveItem('settings')" style="position:absolute; bottom: 30px;"><i class="material-icons md-28">settings</i></div>