@import 'const_dark.scss';

button.mat-menu-item {
    line-height: 35px;
	height: 35px;
	color: $app-foreground;
	background-color: $panel-background;
	vertical-align: middle;
}

button.mat-menu-item:hover {
    background-color: $app-second-background;
}

.mat-menu-content {
	padding-top: 28px;
	padding-bottom: 0px;
    border-radius: 5px;
    width: 180px;
    border: solid 1px rgba(10,10,10, 0.4);
    box-shadow: -2px 2px 20px -8px rgba(0,0,0,0.8);
    overflow: hidden;
}

.material-icons.md-18 { 
	font-size: 18px; 
}

.material-icons.md-28 { 
	font-size: 28px; 
}

.material-icons.md-15 { 
	font-size: 15px; 
}