
:root {
	--background-one:  rgb(55, 55, 55);
	--background-two: rgb(50, 50, 50);
	--background-three:  rgb(45, 45, 45);
	--background-four: rgb(40, 40, 40);
	
	--foreground-one:  rgb(230, 230, 230);
	--foreground-two: rgb(130, 130, 130);

	--outline-one: rgb(30, 30, 30);
	--outline-two: rgb(90, 90, 90);
}