@import '../styles/theme.scss';

.app-toolbar {
	background-color: var(--background-four);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 38px;
	padding: 5px;
	box-shadow: -2px 2px 20px -8px rgba(0,0,0,0.8);
	z-index: 7;
}

.app-container {
	position: absolute;
	top: 35px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 4px;
	padding: 0px;
}

.app-sidebar {
	background-color: var(--background-three);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 45px;
	padding: 5px;
	z-index: 3px;
}

.app-sidepanel {
	background-color: var(--background-two);
	position: absolute;
	top: 0px;
	left: 45px;
	bottom: 0px;
	width: 280px;
	padding: 0px;
	box-shadow: 4px 2px 20px -8px rgba(0,0,0,0.8);
	z-index: 5px;
}

.app-blogarea {
	position:absolute;
	right: 0px;
	top: 0px;
	bottom: 25px;
	left: 325px;
}

.app-footer {
	background-color: var(--background-four);
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	font-weight: 600;
	font-size: 12px;
	color: var(--foreground-two);
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	z-index: 6;
}