@import '../../../styles/theme.scss';
@import '../../../styles/bootstrap-overrides.scss';
@import '../../../styles/material_overrides.scss';
@import '../../../../node_modules/material-design-icons/iconfont/material-icons.css';

.toolbar-icon {
	padding: 4px;
	margin-left: 1px;
	margin-right: 1px;
	border: solid 1px;
	color: var(--foreground-one);
	border-color: var(--background-four);
	background-color: var(--background-four);
	min-width: 0px;
}

.toolbar-icon:hover {
	border: solid 1px;
	box-shadow: -2px 2px 20px -8px rgba(0,0,0,0.6);
	background-color: var(--background-one);
	border-color: var(--outline-one);
}

.toolbar-group {
	display: inline-block;
	padding-right: 8px;
	padding-left: 5px;
}

.toolbar-group:not(:last-child) {
	border-right: 1px solid grey;
}