<input type="text" class="form-control title-text" placeholder="Blog Title" [(ngModel)]="getBlogData().title" (ngModelChange)="markChanged()"/>
<quill-editor 
       format="html" 
       [modules]="quillModules"
       [hidden]="!isHTMLEditor()" 
       [(ngModel)]="getBlogData().content" 
       (blur)="updateBlogData()" 
       (onEditorCreated)="quillEditorCreated($event)"
       (onContentChanged)="contentChanged($event)">
</quill-editor>
<div ace-editor
       #editor
       [(text)]="getBlogData().htmlContent"
       [mode]="'html'"
       [theme]="'gruvbox'"
       [options]="{printMargin: false, wrap: true, foldStyle: 'markbegin'}"
       [readOnly]="false"
       [autoUpdateContent]="true"
       (textChanged)="contentChanged($event)"
       [hidden]="isHTMLEditor()"
       class="htmlEditor"></div>