@import '../../../styles/theme.scss';

.title-text{
	background-color: var(--background-one);
	border: none;
	border-radius: 0px;
	color: var(--foreground-one);
	width: 100%;
	margin-top: 2px;
}

.htmlEditor {
	position: absolute;
	top:40px; 
	bottom: 0px; 
	left: 0px; 
	right:0px; 
	overflow: auto;
}

