@import '../../../styles/theme.scss';
@import '../../../styles/bootstrap-overrides.scss';
@import '../../../styles/material_overrides.scss';
@import '../../../../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../sidepanel/sidepanel.component.scss';

.tags-panel {
	width: 250px;
    position: absolute;
    height: 200px;
    padding: 10px;
}

.tags-input__input-field {
	background-color: transparent !important;
	color: var(--foreground-two) !important;
}